@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');

:root{
   --darkmagenta: #502050;
   --softpink: #ee68a4;
   --darkgraymagenta:#937b92;
   --lightgraymagenta:  #f7f2f7;
}

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{
   font-size: 15px;
   font-family: 'Spartan', sans-serif;
   background-image: url(./images/bg-pattern-top-desktop.svg), url(./images/bg-pattern-bottom-desktop.svg);
   background-repeat: no-repeat;
   background-position: top 0px left 0px, bottom 0px right 0px;
}

.container{
   width: 1440px;
   height: 800px;
   margin: 0 auto;
   padding: 150px;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
}

.main-text{
   width: 480px;
}

.main-text .descrip{
   color: var(--darkgraymagenta);
   font-weight: 500;
   width: 460px;
   margin-top: 10px;
   line-height: 24px;
}

.big-title{
   color: var(--darkmagenta);
   font-weight: 700;
   font-size: 40px;
   width: 330px;
}

/*temp*/
.border1{
   border: 1px solid black;
}

.ratings{
   width: 50%;
}

.review{
   padding: 15px;
   border-radius: 7px;
   background-color: var(--lightgraymagenta);
   width: 450px;
   color: var(--darkmagenta);
   font-weight: 700;
   margin-bottom: 15px;
}

.review img{
   margin-left: 5px;
}

.review span{
   margin-left: 30px;
}

.review.second{
   margin-left: 60px;
}

.review.third{
   margin-left: auto;
}

.comments{
   width: 100%;
   display: flex;
   justify-content: space-between;
   margin-top: 60px;
}

.comments-box{
   background-color: var(--darkmagenta);
   width: 360px;
   height: 250px;
   padding: 35px;
   border-radius: 10px;
   color: var(--lightgraymagenta);
}

.comments-box.second{
   margin-top: 20px;
}

.comments-box.third{
   margin-top: 40px;
}

.profile{
   display: flex;
   align-items: center;
}

.photo{
   width: 40px;
   border-radius: 50%;
}

.prof{
   margin-left: 25px;
}

.name{
   font-weight: 700;
   display: block;
   margin-bottom: 6px;
}

.selo{
   color: var(--softpink);
}

.msg{
   margin-top: 30px;
   line-height: 24px;
   font-size: 13px;
}

.attribution {
   font-size: 11px;
   text-align: center;
}
.attribution a {
   color: hsl(228, 45%, 44%);
}

/*RESPONSIVE*/

@media (max-width:500px){
   body{
      font-size: 15px;
      font-family: 'Spartan', sans-serif;
      background-image: url(./images/bg-pattern-top-mobile.svg), url(./images/bg-pattern-bottom-mobile.svg);
      background-repeat: no-repeat;
      background-position: top 0px left 0px, bottom 0px right 0px;
   }
   .container{
      width: 100%;
      height: max-content;
      padding: 0px 20px;
      display: flex;
      flex-wrap: nowrap;
      flex-direction: column;
      align-items: center;
   }
   .main-text{
      width: 100%;
   }
   .main-text .descrip{
      color: var(--darkgraymagenta);
      font-weight: 500;
      width: 100%;
      margin-top: 30px;
      line-height: 24px;
      text-align: center;
   }
   .big-title{
      color: var(--darkmagenta);
      font-weight: 700;
      font-size: 30px;
      line-height: 30px;
      width: 100%;
      text-align: center;
      margin-top: 80px;
   }
   .ratings{
      width: 100%;
      display: flex;
      flex-direction: column;
      height: 270px;
      justify-content: space-between;
      margin-top: 40px;
   }
   .review{
      padding: 20px;
      border-radius: 7px;
      background-color: var(--lightgraymagenta);
      width: 100%;
      color: var(--darkmagenta);
      font-weight: 700;
      text-align: center;
   }
   .review span{
      display: block;
      margin: 10px 0 0 0;
   }
   .review.second{
      margin-left: 0;
   }
   .review.third{
      margin-left: 0;
   }
   .comments{
      width: 100%;
      display: flex;
      flex-direction: column;
      margin-bottom: 70px;
   }
   .comments-box{
      background-color: var(--darkmagenta);
      width: 100%;
      height: 250px;
      padding: 33px;
      border-radius: 10px;
      margin-top: 20px;
      color: var(--lightgraymagenta);
   }
   .comments-box.third{
      margin-top: 20px;
   }
}